<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="logo">
                TamilNadu NO1 Best Job Portal Application<br>
                10K+Jobs|100+ Cities
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="nav-items">
                <img routerLink="login" src="/assets/private-job.jpg"><br>
                <span><a href="/all-jobs">Private Jobs</a></span>
            </div>
            <div class="nav-items">
                <img src="/assets/state-gov.png"><br>
                <span><a href="/all-jobs">State gov Job</a></span>
            </div>
            <div class="nav-items">
                <img href="" src="/assets/central-gov-job.jpg"><br>
                <span><a href="/all-jobs">Central gov Job</a></span>
            </div>
            <div class="nav-items">
                <img src="/assets/fresher-job.png"><br>
                <span><a href="/all-jobs">Fresher Job</a></span>
            </div>
            <div class="nav-items">
                <img src="/assets/all-job.jpg"><br>
                <span><a href="/all-jobs">All Jobs</a></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <body>
                <div id="job"> 
                    <img src="/assets/bg 2.webp" alt=""><br>
                    <a id="com" href="">Accountant<br></a> 
                    <span><a href="">Vaga Trade Pvt Ltd</a></span>
                    <p><img src="/assets/Location.png">Chennai</p>
                </div>
            
                <div id="job"> 
                    <img src="/assets/bg 2.webp" alt=""><br>
                    <a id="com" href="">Technical<br></a> 
                    <span><a href="">Vaga Trade Pvt Ltd</a></span>
                    <p><img src="/assets/Location.png">kerala</p>
               </div>
            
               <div id="job"> 
                    <img src="/assets/bg 2.webp" alt=""><br>
                    <a id="com" href="">Mechanic<br></a> 
                    <span><a href="">Sri Vinayaga Motors</a></span>
                    <p><img src="/assets/Location.png">Chennai</p>
                </div>
            
                <div id="job"> 
                    <img src="/assets/bg 2.webp" alt=""><br>
                    <a id="com" href="">Sales Person<br></a> 
                    <span><a href="">India Pvt Ltd</a></span>
                    <p><img src="/assets/Location.png">Coimbatore</p>
                </div>
            
                <div id="job"> 
                    <img src="/assets/bg 2.webp" alt=""><br>
                    <a id="com" href="">Telecaller<br></a> 
                    <span><a href="">Dames Institude</a></span>
                    <p><img src="/assets/Location.png">Nagercoil</p>
                </div>
            
                <div id="job"> 
                    <img src="/assets/bg 2.webp" alt=""><br>
                    <a id="com" href="">Helper<br></a> 
                    <span><a href="">RK</a></span>
                    <p><img src="/assets/Location.png">Thiruporur</p>
                </div>
            
                <div id="job"> 
                    <img src="/assets/bg 2.webp" alt=""><br>
                    <a id="com" href="">CNC Machine Operater<br></a> 
                    <span><a href="">X</a></span>
                    <p><img src="/assets/Location.png">Ganapathy</p>
                </div>
            
                <div id="job"> 
                    <img src="/assets/bg 2.webp" alt=""><br>
                    <a id="com" href="">Welder<br></a> 
                    <span><a href="">Sri Industrie</a></span>
                    <p><img src="/assets/Location.png"> Erode</p>
                </div>
            
                <div id="job"> 
                    <img src="/assets/bg 2.webp" alt=""><br>
                    <a id="com" href="">Designer<br></a> 
                    <span><a href="">MKM</a></span>
                    <p><img src="/assets/Location.png">Hosur</p>
                </div>
            
                <div id="job"> 
                    <img src="/assets/bg 2.webp" alt=""><br>
                    <a id="com" href="">Computer Operater<br></a> 
                    <span><a href="">Magestic Freeze work</a></span>
                    <p><img src="/assets/Location.png">Chennai</p>
                </div>
            
                <div id="job"> 
                    <img src="/assets/bg 2.webp" alt=""><br>
                    <a id="com" href="">Delivery Executive<br></a> 
                    <span><a href="">flipkart</a></span>
                    <p><img src="/assets/Location.png">Krishnagiri</p>
                </div>
            
                <div id="job"> 
                    <img src="/assets/bg 2.webp" alt=""><br>
                    <a id="com" href="">Marketing Staff<br></a> 
                    <span><a href="">Sri Muthu Trade</a></span>
                    <p><img src="/assets/Location.png">Karur</p>
                </div>
            
                <div id="job"> 
                    <img src="/assets/bg 2.webp" alt=""><br>
                    <a id="com" href="">Electrical<br></a> 
                    <span><a href="">Power Line Electrical</a></span>
                    <p><img src="/assets/Location.png">Coimbatore</p>
                </div>
            
                <div id="job"> 
                    <img src="/assets/bg 2.webp" alt=""><br>
                    <a id="com" href="">Account Manager<br></a> 
                    <span><a href="">Clothing Company</a></span>
                    <p><img src="/assets/Location.png">Madurai</p>
                </div>
            </body>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="feba">
                <h1><input type="button" value="Customer Reviews"></h1>
            </div>
            <div class="feedback">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="/assets/Profile.png" alt="">
                        <h1>Person 1</h1><br><br>
                        <span>Some text...</span>
                        <input type="text">
                        <i class="fa-solid fa-share"></i>
                        
                    </div>
                    <div class="col-sm-6">
                        <img src="/assets/female logo.png" alt="">
                        <h1>Person 2</h1><br><br>
                        <span>Some text...</span>
                        <input type="text">
                        <i class="fa-solid fa-share"></i>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <img src="/assets/female logo.png" alt="">
                        <h1>Person 3</h1><br><br>
                        <span>Some text...</span>
                        <input type="text">
                        <i class="fa-solid fa-share"></i>
                    </div>
                    <div class="col-sm-6">
                        <img src="/assets/Profile.png" alt="">
                        <h1>Person 4</h1><br><br>
                        <span>Some text...</span>
                        <input type="text">
                        <i class="fa-solid fa-share"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>