<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="head">
                <h1>10th, 12th Jobs</h1>
            </div>
            <div class="about">
                <span>
                    Get Latest 10th, 12th Jobs Govt in India 2022 | 10th Pass Govt 2022 TN | 12th Pass Govt 2022 TN |
                    Latest 10th, 12th Govt  Jobs 2022 in TN  | Upcoming 10th, 12th Govt Jobs in India 2022 |
                    10th, 12th Govt Job Vacancies Details 2022  Apply Online | 10th, 12th Govt Jobs 2022 Recruitment Notification |
                    10th, 12th Govt Vacancy 2022 | 10th, 12th Govt Jobs 2022 Without Exam  | Direct Interview 10th, 12th Govt Jobs 2022|
                    Latest 8th Pass Govt Jobs 2022 | Latest 7th Pass Govt Jobs 2022 | 10th, 12th Govt Jobs 2022 Application Form |
                    10th, 12th Govt Jobs For Fresher’s 2022
                </span>
            </div>
            <div class="table">
                <table>
                    <tr>
                        <th colspan="2">Recruitment 2022 [Quick Summary]</th>
                    </tr>
                    <tr>
                        <td>Organization Name:</td>
                        <td>All</td>
                    </tr>
                    <tr>
                        <td>Notification No:</td>
                        <td>01-22/Job/22-23/ Dt.20.12.2022</td>
                    </tr>
                    <tr>
                        <td>Job Category:</td>
                        <td>All</td>
                    </tr>
                    <tr>
                        <td>Employment Type:</td>
                        <td>Temporary Basic</td>
                    </tr>
                    <tr>
                        <td>Total No of Vacancies:</td>
                        <td>For Each 100</td>
                    </tr>
                    <tr>
                        <td>Place of Posting:</td>
                        <td>Chennai</td>
                    </tr>
                    <tr>
                        <td>Starting Date:</td>
                        <td>01-01-2022</td>
                    </tr>
                    <tr>
                        <td>Last Date:</td>
                        <td>30-12-2002</td>
                    </tr>
                    <tr>
                        <td>Apply Mode:</td>
                        <td>Online</td>
                    </tr>
                </table>
            </div>
            <div class="latest">
                <span>Latest Office Assistant vacancies Detail:</span><br>
                <span>Name of the Post & No of vacancies</span>
            </div>
            <div class="table">
                <table>
                    <tr>
                        <th>SI NO</th>
                        <th>Name of Post</th>
                        <th>No of Post</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Project Associate 1</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Project Associate 1</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Senior research fellow</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>office Assistant</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Total No Of Vacancies:</td>
                        <td>55</td>
                    </tr>
                </table>
            </div>
            <div class="qualification">
                <span>Educational Qualification</span>
            </div>
            <table>
                <tr>
                    <th>1. Project Associate I</th>
                    <td> - Degree in Computer Science/ Information Science/ Bio informatics
                        (with four years degree) with desirable experience in R/Python programming OR Candidates
                        having PG degree in basic sciences with 3 years Bachelors and 2-year Master’s degree with 
                        desirable experience in R/Python programming
                    </td>
                </tr>
                <tr>
                    <th>2. Project Associate I</th>
                    <td>- Master’s Degree in Natural Science/Bioinformatics/Computer Science
                        or application OR Degree in Computer Science/Bio informatics with experience in R programming
                        and data analysis
                    </td>
                </tr>
                <tr>
                    <th>3. Senior Research Fellow (SRF)</th>
                    <td>- Post graduate in Computer Science/M.Tech in Computer science/ Information
                        science/ Bio informatics//biotechnology/Agricultural Statistics (with four years degree) OR Master degree in
                        Computer science/Bioinformatics/biotechnology/Agricultural Statistics (with three years degree) with NET/GATE
                        certificate.
                    </td>
                </tr>
                <tr>
                    <th>4. Office Assistant</th>
                    <td>- Minimum qualification of 10th pass having computer knowledge, data entry,
                        keeping office records, inventory of office supplies and maintaining files.
                    </td>
                </tr>
            </table>
            <div class="age">
                <span>Age Limit:</span>
            </div>
            <table id="age">
                <tr>
                    <th>SI NO</th>
                    <th>Vacancies</th>
                    <th>Age</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Project Associate I </td>
                    <td>- Upto 35 Years.</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Project Associate I </td>
                    <td>- Upto 35 Years.</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Senior Research Fellow (SRF)</td>
                    <td>- 35 for Men & 40 for women</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Office Assistant</td>
                    <td>-Upto 30 Years.</td>
                </tr>
                <nav>
                    Candidates Relaxation in Upper Age limit will be provided as per Govt. Rules.
                    Go through Jobs official Notification 2022 for more reference
                </nav>
            </table>
            <div class="salary">
                <span>Salary Details:</span>
            </div>
            <table>
                <tr>
                    <th>1. Project Associate I </th>
                    <td>1L</td>
                </tr>
                <tr>
                    <th>2. Senior Research Fellow (SRF)</th>
                    <td>50K</td>
                </tr>
                <tr>
                    <th>3. Office Assistant</th>
                    <td>15K</td>
                </tr>
            </table>
            <div class="button">
                <a href="/login" type="button" class="btn btn-warning">Application Form</a>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
