<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div class="job-by-degree">
                <h1>Jobs By Degree</h1><br>
                <ul>
                    <li><a routerLink="jobs">10,12 jobs <span>  100</span></a></li>
                    <li><a routerLink="degree">ITI Jobs <nav>  4</nav></a></li>
                    <li><a routerLink="other">Diploma Jobs<span>  1000</span></a></li>
                    <li><a routerLink="jobs">BE/BTech Jobs<span>  5000</span></a></li>
                    <li><a routerLink="degree">Any Degree Jobs<nav>  10</nav></a></li>
                    <li><a routerLink="other">Other<span>  1L</span></a></li>
                </ul>
            </div>
            <hr>
            <div class="jobs-by-location">
                <h1>Jobs By Location</h1>
                <ul>
                    <li><a >Chennai<span>  500</span></a></li>
                    <li><a >Cuddalore<span>  1000</span></a></li>
                    <li><a>Ariyalur<nav>  4</nav></a></li>
                    <li><a>Thirunelveli<span>  100</span></a></li>
                    <li><a>Vellore<span>  80</span></a></li>
                    <li><a >Other<span>  1K</span></a></li>
                </ul>
            </div>
            <hr>
            <div class="jobs-by-category">
                <h1>Jobs By Category</h1>
                <ul>
                    <li><a >Office<span>  130</span></a></li>
                    <li><a >Administrative<span>  134</span></a></li>
                    <li><a >Marketing<nav>  9</nav></a></li>
                    <li><a >Accountance<nav>  2</nav></a></li>
                    <li><a >Manager<span>  20</span></a></li>
                    <li><a>Other<span>   2K</span></a></li>
                    <br><br>
                </ul>
            </div>
            <hr>
        </div>
        <div class="col-sm-8">
            <router-outlet></router-outlet>
            <body>
                <div> <img src="/assets/bg 2.webp" alt=""><br>
                     <a>Accountant<br></a> 
                     <span><a href="/login">Vaga Trade Pvt Ltd</a></span>
                     <p><img src="/assets/Location.png">Chennai</p>
                </div>
            
                <div> <img src="/assets/bg 2.webp" alt=""><br>
                    <a>Technical<br></a> 
                    <span><a href="/login">Vaga Trade Pvt Ltd</a></span>
                    <p><img src="/assets/Location.png">kerala</p>
               </div>
            
               <div> <img src="/assets/bg 2.webp" alt=""><br>
                    <a>Mechanic<br></a> 
                    <span><a href="/login">Sri Vinayaga Motors</a></span>
                    <p><img src="/assets/Location.png">Chennai</p>
                </div>
            
                <div> <img src="/assets/bg 2.webp" alt=""><br>
                    <a>Sales Person<br></a> 
                    <span><a href="/login">India Pvt Ltd</a></span>
                    <p><img src="/assets/Location.png">Coimbatore</p>
                </div>
            
                <div> <img src="/assets/bg 2.webp" alt=""><br>
                    <a>Telecaller<br></a> 
                    <span><a href="/login">Dames Institude</a></span>
                    <p><img src="/assets/Location.png">Nagercoil</p>
                </div>
            
                <div> <img src="/assets/bg 2.webp" alt=""><br>
                    <a>helper<br></a> 
                    <span><a href="/login">RK</a></span>
                    <p><img src="/assets/Location.png">Thiruporur</p>
                </div>
            
                <div> <img src="/assets/bg 2.webp" alt=""><br>
                    <a>CNC Machine Operater<br></a> 
                    <span><a href="/login">X</a></span>
                    <p><img src="/assets/Location.png">Ganapathy</p>
                </div>
            
                <div> <img src="/assets/bg 2.webp" alt=""><br>
                    <a>Welder<br></a> 
                    <span><a href="/login">Sri Industrie</a></span>
                    <p><img src="/assets/Location.png"> Erode</p>
                </div>
            
                <div> <img src="/assets/bg 2.webp" alt=""><br>
                    <a>Designer<br></a> 
                    <span><a href="/login">MKM</a></span>
                    <p><img src="/assets/Location.png">Hosur</p>
                </div>
            
                <div> <img src="/assets/bg 2.webp" alt=""><br>
                    <a>Computer Operater<br></a> 
                    <span><a href="/login">Magestic Freeze work</a></span>
                    <p><img src="/assets/Location.png">Chennai</p>
                </div>
            
                <div> <img src="/assets/bg 2.webp" alt=""><br>
                    <a>Delivery Executive<br></a> 
                    <span><a href="/login">flipkart</a></span>
                    <p><img src="/assets/Location.png">Krishnagiri</p>
                </div>
            
                <div> <img src="/assets/bg 2.webp" alt=""><br>
                    <a>Marketing Staff<br></a> 
                    <span><a href="/login">Sri Muthu Trade</a></span>
                    <p><img src="/assets/Location.png">Karur</p>
                </div>
            
                <div> <img src="/assets/bg 2.webp" alt=""><br>
                    <a>Electrical<br></a> 
                    <span><a href="/login">Power Line Electrical</a></span>
                    <p><img src="/assets/Location.png">Coimbatore</p>
                </div>
            
                <div> <img src="/assets/bg 2.webp" alt=""><br>
                    <a>Account Manager<br></a> 
                    <span><a href="/login">Clothing Company</a></span>
                    <p><img src="/assets/Location.png">Madurai</p>
                </div> 
            </body>
        </div>
    </div>
</div>