<h1 id="head">Blog</h1>
<div>
    <img href="" src="/assets/intenship.jpg"><br>
    <a href="https://nithrajobs.com/blog/internship-options-for-college-students/999-18">
        <p>Jobs & Internship Options For<br> College Students</p>
    </a> 
</div>
<div>
    <img href="" src="/assets/job opportunity.jpg" alt=""><br>
     <a href="https://nithrajobs.com/blog/career-opportunities-for-freshers/999-7"><p>Best Career option and Opportunities<br> For Freshers</p></a> 
</div>
<div>
    <img href="" src="/assets/paying.jpg" alt=""><br>
    <a href="https://nithrajobs.com/blog/top-10-highest-paying-jobs-in-tamilnadu/999-5"><p>Top 10 Paying Jobs In<br> TamilNadu</p></a> 
</div>
<router-outlet></router-outlet>