<table routerLink="jobs">
    <tr>
        <th>Exam</th>
        <th>Post</th>
        <th>Qualification</th>
        <th>Last Date</th>
        <th>Link</th>
    </tr>
    <tr>
        <th colspan="5" style="color: red;font-size: 20px;" >Latest 10th, 12th Jobs 2022 - 1L Vancancies</th>
    </tr>
    <tr *ngFor="let i of det">
        <td>{{i.exam}}</td>
        <td>{{i.post}}</td>
        <td>{{i.Qualification}}</td>
        <td>{{i.lastdate}}</td>
        <td><a href="/form1">link</a></td>
    </tr>
</table>
