<div class="row">
    <div class="col-sm-4">
        <div class="job1">
            <h1>Jobs XYZ...</h1>
            HR Plaza, 4th floor,<br>
            RRR St,<br>
            Chennai,<br>
            Tamil Nadu-600003.
        </div>
    </div>
    <div class="col-sm-4">
        <div class="job2">
            <div class="p1">
                <h1>Jobs</h1>
                <a href="#">Private Jobs</a><br>
                <a href="#">State Jobs</a><br>
                <a href="#">Central Jobs</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="job3">
            <div class="p2">
                <h1>Contact us</h1>
                Xml Site Map<br>
                Html site Map
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="social">
        <p>Connect through social Network
         <a href="#"><img src="/assets/twitter-png-5968.png"></a>
         <a href="#"><img src="/assets/insta.png"></a>
         <a href="#"><img src="/assets/facebook-logo-png-9024.png"></a>
         <a href="#"><img src="/assets/linkedin-png-5847.png"></a>
        </p>
    </div>
</div>
<div class="col-sm-12">
    <div class="cpy">
        <span>@Created By #Harish (DS)</span>
    </div>
</div>
